@font-face {
    font-family: 'Cinzel';
    src: url(./fonts/Cinzel/Cinzel-VariableFont_wght.ttf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#nav2{
    background-color: #00204dda;
    padding: 10px 0;
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-bottom: 10px;
}

#button-2{
    border: none;
    background-color: #243F66;
    color: #E8E1CA ;
    font-family: 'Cinzel';
}

#button-2:hover{
    border-bottom: 1px solid white;
}