body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

#plan-page{
    height: 100vh;
    width: 100%;
    margin-top: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.partition {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="date"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input[type="number"] {
    width: 60px;
    text-align: center;
}

.input-group button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    background-color: #007BFF;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.input-group button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.input-group button:hover:not(:disabled) {
    background-color: #0056b3;
}
